<div class="main">
    <mat-card class="card">
        <mat-card-content>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
            <div [formGroup]="itemForm" class="form mr-20">
                <mat-form-field fxFlex="100">
                    <mat-label>Item</mat-label>
                    <input type="text" matInput formControlName="item" placeholder="Todo" (keyup.enter)="addItem()">
                </mat-form-field> 
            </div>

            <button mat-raised-button class="btn" (click)="addItem()" type="button"> Add </button>
        </div>  
                
        <div  fxLayout="row" fxLayoutAlign="left center" class="mb-20">
            <div fxLayout="row" fxLayoutAlign="left center" class="mb-20">
                <button mat-raised-button class="btn mr-20" (click)="filter(null)" type="button"> All </button>
                <button mat-raised-button class="btn mr-20" (click)="filter(new)" type="button"> New </button>
                <button mat-raised-button class="btn mr-20" (click)="filter(inProgress)" type="button"> In Progress </button>
                <button mat-raised-button class="btn mr-20" (click)="filter(done)" type="button"> Done </button>
            </div>

            <div class="errors mb-20">
                <div *ngIf="errors.length > 0 " class="mb-20">
                    <mat-error *ngFor="let error of errors">{{ error }}</mat-error>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
            <div [formGroup]="filterForm" class="form mr-20">
                <mat-form-field fxFlex="91">
                    <mat-label>Filter</mat-label>
                    <input type="text" matInput formControlName="filter" placeholder="Enter your text" (keyup.enter)="addItem()">
                </mat-form-field> 
            </div>
        </div>

        <div *ngFor="let item of filterItems">
            <div class="mb-20" fxLayout="row" fxLayoutAlign="space-between center">
                <div>{{item.value}}</div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon class="basket mr-20" (click)="deleteItem(item)">delete_forever</mat-icon>
                    <button mat-raised-button class="btn" (click)="changeStatus(item)" type="button"
                    [ngClass]="{ 'btn-new' : item.status === 1 , 'btn-in-progres' : item.status === 2 , 'btn-done' : item.status === 3 }"> 
                    {{ item.status === 1 
                    ? "In Progress" : item.status === 2 
                    ? "Done" : item.status === 3 ? "In Progress" : "In Progress"}}</button>
                </div>
            </div>
        </div>

        </mat-card-content>
    </mat-card>
</div>
