.main{
  height: 100vh;

  .auth-card {
    width: 500px;
    height: 482px;

    .actions {
      height: 17%;
      
      .btn {
        width: 100px;
        border-radius: 6px;
      }
    }
  }

  .fields {
    width: 300px;
  }

  .pt-20 {
    padding-top: 20px;
  }
}