@model Boilerplate.API.Templates.HelloWorldViewModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
    <label asp-for="Name"></label>
    <input type="button" value="Create" />
</body>
</html>